#container{ 
    scroll-behavior: smooth;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 10px;
    overflow-y: scroll;
}
    #container::-webkit-scrollbar { width: 0; background: transparent;}
    #container > section {
        scroll-snap-align: start;
    }